.dropdown-hamburger {
    display: none;
}


@media (max-width: 768px) {
    section aside {
        display: none;
    }

    .nav-links {
        display: none;
    }

    .dropdown-hamburger {
        display: block; 
    }
}