* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', 'Segoe UI', sans-serif;
    min-height: 100vh;
    background-color: #F6F4F0;
}


h1 {
    margin-right: auto;
}

h1 a {
    text-decoration: none;
    color: #2E5077;
}

article h2 {
    color: #2E5077;
}

p {
    color:#367379;
}

li {
    color:#367379;
}

svg {
    fill: #2E5077;
    width: 60px;
}



.nav-links, .dropdown-menu li a {
    display: flex;
    gap: 20px;
    color: #2E5077;
}

.link {
    color:#2E5077;
}

.dropdown button {
    font-size: 1.5em; 
    color: #2E5077;
}