* {
    text-align: center;
    font-family: "segoe ui";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body, html {
    color: white;
    background-attachment: fixed;
    background-image: linear-gradient(170deg, rgb(135, 10, 139), #4500FF);
    height: 100%;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

canvas {
    display: block;
}

.container {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.container-top-profile {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 3px solid white;
}

.container-buttons {
    position: absolute;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
}

.container-buttons .btn {
    font-size: 24px;
    border: 2px solid white;
    border-radius: 32px;
    width: 480px;
    padding: 12px 8px;
    margin: 12px auto;
    cursor: pointer;
    transition: all 0.12s;
}

.container-buttons .btn:hover {
    transform: translateY(-6px);
    box-shadow: 3px 3px 8px 1px white;
}

.container-footer {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    min-width: max-content;
}

.container-footer p {
    text-align: center;
    align-items: center;
    color: #e0e0e0;
}

@media only screen and (max-width: 600px) {
    .container-buttons .btn {
        max-width: 320px;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .container-buttons .btn {
        max-width: 160px;
    }
}
