nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 42px;
    font-size: 17px;
    font-family: 'Mulish', sans-serif;
}

nav > ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
    padding: 0; 
    margin: 0; 
}

nav > ul  li a {
    color: black;
    position: relative;
    display: inline-block;
    text-decoration: none;
}

nav li > a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000;
    transform-origin: bottom right;
    transition: transform 0.15s ease-out;
}

nav li > a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

#header > nav {
    padding-top: 42px;
    padding-bottom: 42px;
}

h1 {
    padding-left: 42px;
    font-size: 40px;
    font-family: 'Dancing Script', sans-serif;
}


h1 > a {
    text-decoration: none;
    color: black;
    font-family: 'Dancing Script', sans-serif;
    font-size: 42px;
}